# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter / IPython
.ipynb_checkpoints/
*.ipynb_checkpoints

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Data / models
*.pkl
*.joblib
*.h5g
*.hdf5

# Environment files
.env
.env.*


"chapter 8/aclImdb_v1.tar.gz"
"chapter 8/aclImdb/"